{% load static %}

<body>
	</div>
<div class="topnav">
	<a href="home.html">Home</a>
	<a href="" style="float: right;"></a>
	
</div>
<div class="row">
<div class="leftcolumn">
	<div class="card mb-3" style="max-width: 540px;">
		<div class="row g-0">
		  <div class="col-md-4">
		<img src="{% static 'img/Gundam3.jpg'%}" width="200" height="200" style="border-radius: 0%;" class="card-img-top" alt="...">
		  </div>
		<div class="col-md-8">
			<div class="card-body">
				
				<a href="booking.html"><h5 class="card-title">GUNDAM LBX THE EMPEROR 57658</h5></a>
			  <p class="card-text">(Discount to Rp138.000)</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		</div>
		<img src="{% static 'img/Gundam4.jpg'%}" width="200" height="200" style="border-radius: 0%;" class="card-img-top" alt="...">
		  </div>
		<div class="col-md-8">
			<div class="card-body">
			<a href="booking.html"><h5 class="card-title">GUNDAM SD CROSS SILHOUETTE ZETA 30366</h5></a>
			  <h5 class="card-title"></h5>
			  <p class="card-text">(Discount to Rp135.000)</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	</div>
			</div>
		  </div>
		</div>
	  </div>
<div class="footer">

<h2><marquee>Jangan lupa untuk mengisi data diri sebelum membeli</marquee></h2>

</div>

</body>

</html>


